<template>
  <div class="container my-5">
    <h1 class="title text-center">Pogodynka</h1>
    <form class="serach-location" @submit.prevent="getWeater">
      <input type="text" 
        class="form-control shadow-sm p-4 text-muted"
        placeholder="Wpisz nazwę miasta"
        autocomplete="off"
        v-model="citySearch"
        
      >
    </form>

    <div class="card my-3 shadow-lg">
      <div class="card-top text-center">
        <div class="city-name my-3">
          <p>{{weather.cityName}}</p>
          <span><img :src="getIconUrl" alt="Weatehr Icon"></span>
          <p>{{weather.country}}</p>
        </div>
      </div>
      <div class="card-body">
        <div class="card-mid">
          <div class="row">
            <div class="col-12 text-center temp">
              <span>{{weather.temperature}}&deg;C</span>
              <div class="my-4">{{weather.description}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-between px-5 mx-5">
              <p>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                {{weather.lowTemp}}&deg;C
              </p>
              <p>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
                {{weather.highTemp}}&deg;C
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-bottom px-5 py-4 row">
        <div class="col text-center">
          <p>{{weather.feelTemp}}&deg;C</p>
          <span>Temperatura odczuwalna</span>
        </div>
        <div class="col text-center">
          <p>{{weather.humidity}}%</p>
          <span>Wilgotność</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  
  name: "App",
  data(){
    return{
      citySearch: "",

      weather: {
        cityName: "Gdańsk",
        country: "PL",
        temperature: "28",
        description: "Czyste niebo",
        lowTemp: "26",
        highTemp: "28",
        feelTemp: "28",
        humidity: "47",
        icon: "10d"
      }
    }
  },
  methods:{
    getWeater: function(){
      const key = "faade720537e48d034222aaa113a57c0";
      const baseUrl = `https://api.openweathermap.org/data/2.5/weather?q=${this.citySearch}&appid=${key}&units=metric&lang=pl`;
      axios.get(baseUrl,).then(result =>{
        this.weather.cityName= result.data.name;
        this.weather.country= result.data.sys.country;
        this.weather.temperature= Math.round(result.data.main.temp);
        this.weather.description= result.data.weather[0].description;
        this.weather.highTemp= Math.round(result.data.main.temp_max);
        this.weather.lowTemp= Math.round(result.data.main.temp_min);
        this.weather.feelTemp= Math.round(result.data.main.feels_like);
        this.weather.humidity= result.data.main.humidity;
        this.weather.icon= result.data.weather[0].icon;
      })

      //
    }
  },
  computed:{
    getIconUrl: function () {
      return `http://openweathermap.org/img/wn/${this.weather.icon}@2x.png`;

    }
  }
}
</script>

<style>
  @import "./css/app.css"
</style>